<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>error</title>
    <style>
        .cente_r{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100vh;
        }

        .error_st_d{
            font-size: 30px;
            color: #f5f5f5;
            padding: 20px 20px 10px 20px;
            background: #333;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
    </style>
</head>
<body>
    <div class="cente_r">
        <h1 class="error_st_d">Error Not Found Page :) <a href="/login">LOL</a></h1>
    </div>
</body>
</html>